<div id="searchNf"  data-th-object="${record}">
	<form action="patient" enctype="application/x-www-form-urlencoded" novalidate="novalidate" method="post">
		<div class="row">
			<div class="form-group col-sm-6">
				<label class="control-label">CPF</label>
				<input type="text" class="form-control" tabindex="1" 
					data-th-field="*{{cpf}}"
					placeholder="CPF"  />
				<div class="help-block">
					<span id="message"></span>
				</div>
			</div>
			<div class="form-group col-sm-6">
				<label class="control-label">Nome</label>
				<input type="text" class="form-control" tabindex="1" 
					data-th-field="*{{name}}"
					placeholder="Nome" />
				<div class="help-block">
					<span id="message"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-6">
				<label class="control-label">Data de Nascimento</label>
				<input type="text" class="form-control" tabindex="1" 
					data-th-field="*{{birthDate}}"
					placeholder="Data de Nascimento"  />
				<div class="help-block">
					<span id="message"></span>
				</div>
			</div>
		</div>
		
		<button type="submit" class="btn btn-info">Salvar</button>
	</form>
</div>
