<div id="details" data-th-object="${form}">
	<div class="row">
		<form action="#" data-th-action="@{/patients/{id}?sort=personalData.name(id = ${id})}" enctype="application/x-www-form-urlencoded" novalidate="novalidate" data-th-method="post">
			<div>
				<input type="hidden" data-th-value="${searchName}" name="searchName"/>
				<input type="hidden" data-th-value="${searchCpf}" name="searchCpf"/>
				<input type="hidden" data-th-value="${searchRg}" name="searchRg"/>
				<input type="hidden" data-th-value="${searchGender}" name="searchGender"/>
				<input type="hidden" data-th-value="${searchBirthDate}" name="searchBirthDate"/>
			</div>
			<div id="main-content" data-th-replace="patient/fields">
			</div>
			<div class="form-group col-sm-3">
				<button type="submit" class="btn btn-info" tabindex="1">Salvar/Editar</button>
			</div>
		</form>
		
		<form action="#" data-th-action="@{/patients/{id}(id = ${id})}" enctype="application/x-www-form-urlencoded" novalidate="novalidate" data-th-method="delete">
			<div>
				<input type="hidden" data-th-value="${searchName}" name="searchName"/>
				<input type="hidden" data-th-value="${searchCpf}" name="searchCpf"/>
				<input type="hidden" data-th-value="${searchRg}" name="searchRg"/>
				<input type="hidden" data-th-value="${searchGender}" name="searchGender"/>
				<input type="hidden" data-th-value="${searchBirthDate}" name="searchBirthDate"/>
			</div>
		
			<div class="form-group col-sm-3">
				<button type="submit" class="btn btn-info" tabindex="1">Remover</button>
			</div>
			
		</form>
		<form action="#" data-th-action="@{/patients/{id}/report(id = ${id})}" enctype="application/x-www-form-urlencoded" novalidate="novalidate" data-th-method="get">
			<div>
				<input type="hidden" data-th-value="${searchName}" name="searchName"/>
				<input type="hidden" data-th-value="${searchCpf}" name="searchCpf"/>
				<input type="hidden" data-th-value="${searchRg}" name="searchRg"/>
				<input type="hidden" data-th-value="${searchGender}" name="searchGender"/>
				<input type="hidden" data-th-value="${searchBirthDate}" name="searchBirthDate"/>
			</div>
			<div class="form-group col-sm-3">
				<button type="submit" class="btn btn-info" tabindex="1">Imprimir</button>
			</div>
		</form>
		<form data-th-action="@{/patients/search}" method="get">
			<div>
				<input type="hidden" data-th-name="sort" data-th-value="personalData.name"/>
				<input type="hidden" data-th-value="${searchName}" name="searchName"/>
				<input type="hidden" data-th-value="${searchCpf}" name="searchCpf"/>
				<input type="hidden" data-th-value="${searchRg}" name="searchRg"/>
				<input type="hidden" data-th-value="${searchGender}" name="searchGender"/>
				<input type="hidden" data-th-value="${searchBirthDate}" name="searchBirthDate"/>
			</div>
			<div class="form-group col-sm-3">
				<button type="submit" class="btn btn-default">Voltar</button>
			</div>
		</form>
	</div>
</div>
