<script>
$(document).ready(function(){
	$("#homePhone").inputmask({
        mask: ["(99) 9999-9999", "(99) 99999-9999", ],
        keepStatic: true
      });
	$("#mobilePhone").inputmask({
        mask: ["(99) 9999-9999", "(99) 99999-9999", ],
        keepStatic: true
      });
	$("#responsiblePhone1").inputmask({
        mask: ["(99) 9999-9999", "(99) 99999-9999", ],
        keepStatic: true
      });
	$("#responsiblePhone2").inputmask({
        mask: ["(99) 9999-9999", "(99) 99999-9999", ],
        keepStatic: true
      });
	$("#zipCode").inputmask("99999-999");
	$("#cpf").inputmask("999.999.999-99");

});
</script>

<div class="row">
	<div class="form-group col-sm-12">
		<h4>Dados Pessoais</h4>
	</div>
</div>
<div class="row">
	<div class="form-group col-sm-8">
		<label class="control-label">Nome *</label>
		<input type="text" class="form-control" tabindex="1" maxlength="255"
			data-th-field="*{{name}}"
			placeholder="Nome" />
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
	<div class="form-group col-sm-2">
		<label class="control-label">Gênero *</label>
		<select class="form-control" data-th-field="*{{gender}}" id="gender" tabindex="1">
			<option value="" ></option>
			<option data-th-each="gender : ${allGenders}" 
  				data-th-value="${gender}" 
  				data-th-text="${gender}"></option>
			</option>
		</select>
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
	<div class="form-group col-sm-2">
		<label class="control-label">Data de Nascimento *</label>
		<input type="date" class="form-control" tabindex="1" 
			data-th-field="*{{birthDate}}"
			placeholder="Data de Nascimento"  />
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
</div>
<div class="row">
	<div class="form-group col-sm-4">
		<label class="control-label">Logradouro</label>
		<input type="text" class="form-control" tabindex="1" maxlength="255"
			data-th-field="*{{publicArea}}"
			placeholder="Rua" />
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
	<div class="form-group col-sm-1">
		<label class="control-label">Número</label>
		<input type="text" class="form-control" tabindex="1" maxlength="8"
			data-th-field="*{{number}}"
			placeholder="Número" />
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
	<div class="form-group col-sm-2">
		<label class="control-label">Bairro</label>
		<input type="text" class="form-control" tabindex="1" maxlength="60"
			data-th-field="*{{district}}"
			placeholder="Bairro" />
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
	<div class="form-group col-sm-3">
		<label class="control-label">Cidade *</label>
		<input type="text" class="form-control" tabindex="1" maxlength="40"
			data-th-field="*{{city}}"
			placeholder="Cidade" />
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
	<div class="form-group col-sm-2">
		<label class="control-label">CEP</label>
		<input id="zipCode" type="text" class="form-control" tabindex="1" maxlength="9"
			data-th-field="*{{zipCode}}"
			placeholder="CEP" />
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
</div>
<div class="row">
	<div class="form-group col-sm-2">
		<label class="control-label">Telefone</label>
		<input id="homePhone" type="text" class="form-control" tabindex="1" maxlength="15"
			data-th-field="*{{homePhone}}"
			placeholder="Telefone" />
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
	<div class="form-group col-sm-2">
		<label class="control-label">Celular</label>
		<input id="mobilePhone" type="text" class="form-control" tabindex="1" maxlength="15"
			data-th-field="*{{mobilePhone}}"
			placeholder="Celular" />
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
	<div class="form-group col-sm-4">
		<label class="control-label">Mail</label>
		<input type="text" class="form-control" tabindex="1" maxlength="40"
			data-th-field="*{{mail}}"
			placeholder="Mail"  />
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
</div>
<div class="row">

	<div class="form-group col-sm-2">
		<label class="control-label">Estado Civil</label>
		<select class="form-control" data-th-field="*{{maritalState}}" id="maritalState" tabindex="1">
			<option value="" ></option>
			<option data-th-each="maritalState : ${allMaritalStates}" 
  				data-th-value="${maritalState}" 
  				data-th-text="${maritalState}"></option>
			</option>
		</select>
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
	<div class="form-group col-sm-2">
		<label class="control-label">Profissão</label>
		<input type="text" class="form-control" tabindex="1" maxlength="40"
			data-th-field="*{{profession}}"
			placeholder="Profissão"  />
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
	<div class="form-group col-sm-2">
		<label class="control-label">RG</label>
		<input type="text" class="form-control" tabindex="1" maxlength="9"
			data-th-field="*{{rg}}"
			placeholder="RG"  />
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
	<div class="form-group col-sm-2">
		<label class="control-label">CPF</label>
		<input id="cpf" type="text" class="form-control" tabindex="1" maxlength="14"
			data-th-field="*{{cpf}}"
			placeholder="CPF"  />
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
	<div class="form-group col-sm-2">
		<label class="control-label">Número de Filhos *</label>
		<input type="number" step="1" class="form-control" tabindex="1" maxlength="2" max="99" min="0" 
			data-th-field="*{{childrenQty}}"
			placeholder="Número de Filhos"  />
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
</div>
<div class="row">
	<div class="form-group col-sm-2">
		<div class="checkbox">
			<label>
				<input type="checkbox" tabindex="1" 
					data-th-field="*{{isMember}}"
					placeholder="É membro da igreja?"  />
				<strong>É membro da igreja?</strong>
			</label>
		</div>
	</div>
	<div class="form-group col-sm-2">
		<label class="control-label">Inscrição do SUS</label>
		<input id="susCard" type="text" class="form-control" tabindex="1" maxlength="14"
			data-th-field="*{{susCard}}"
			placeholder="Inscrição do SUS"  />
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
</div>
<div class="row">
	<div class="form-group col-sm-12">
		<h4>Antecedentes Pessoais</h4>
	</div>
</div>
<div class="row">
	<div class="form-group col-sm-1">
		<label class="control-label">Peso</label>
		<input id="weight" type="number" class="form-control" tabindex="1" maxlength="3" min="1" max="400"
			data-th-field="*{{medicalHistory.weight}}"
			placeholder="Peso" />
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
	<div class="form-group col-sm-1">
		<label class="control-label">Altura</label>
		<input type="number" class="form-control" tabindex="1" maxlength="3" min="1" max="300"
			data-th-field="*{{medicalHistory.height}}"
			placeholder="Altura"  />cm
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
</div>
<div class="row">
	<div class="form-group col-sm-1">
		<div class="checkbox">
			<label>
				<input type="checkbox" tabindex="1" 
					data-th-field="*{{medicalHistory.smoker}}"
					placeholder="Fuma?"  />
				<strong>Fuma?</strong>
			</label>
		</div>
	</div>
	<div class="form-group col-sm-1">
		<label class="control-label">Quant.</label>
		<input id="smoker" type="number" class="form-control" tabindex="1" maxlength="2" min="0" max="99"
			data-th-field="*{{medicalHistory.smokeFrequence}}"
			placeholder="Quant." />
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
	<div class="form-group col-sm-1">
		<h5>por</h5>
	</div>
	<!--div class="form-group col-sm-2">
		<label class="control-label">Período*</label>
		<select class="form-control" data-th-field="*{{medicalHistory.smokePeriodUnit}}" id="smokePeriodUnit" tabindex="1">
			<option value="" ></option>
			<option data-th-each="smokePeriodUnit : ${allPeriodUnits}" 
  				data-th-value="${smokePeriodUnit}" 
  				data-th-text="${smokePeriodUnit}"></option>
			</option>
		</select>
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div-->
</div>
<div class="row">
	<div class="form-group col-sm-1">
		<div class="checkbox">
			<label>
				<input type="checkbox" tabindex="1" 
					data-th-field="*{{medicalHistory.drinker}}"
					placeholder="Consome Álcool?"  />
				<strong>Consome Álcool?</strong>
			</label>
		</div>
	</div>
	<div class="form-group col-sm-1">
		<label class="control-label">Quant.</label>
		<input id="drinker" type="number" class="form-control" tabindex="1" maxlength="2" min="0" max="99"
			data-th-field="*{{medicalHistory.drinkFrequence}}"
			placeholder="Quant." />
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
	<div class="form-group col-sm-1">
		<h5>por</h5>
	</div>
	<!--div class="form-group col-sm-2">
		<label class="control-label">Período*</label>
		<select class="form-control" data-th-field="*{{medicalHistory.drinkPeriodUnit}}" id="drinkPeriodUnit" tabindex="1">
			<option value="" ></option>
			<option data-th-each="drinkPeriodUnit : ${allPeriodUnits}" 
  				data-th-value="${drinkPeriodUnit}" 
  				data-th-text="${drinkPeriodUnit}"></option>
			</option>
		</select>
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div-->
</div>
<div class="row">
	<div class="form-group col-sm-1">
		<div class="checkbox">
			<label>
				<input type="checkbox" tabindex="1" 
					data-th-field="*{{medicalHistory.allergic}}"
					placeholder="Possui Alergias?"  />
				<strong>Possui Alergias?</strong>
			</label>
		</div>
	</div>
	<div class="form-group col-sm-11">
		<label class="control-label">Quais?</label>
		<input id="allergies" type="text" class="form-control" tabindex="1" maxlength="14"
			data-th-field="*{{medicalHistory.allergies}}"
			placeholder="Quais?" />
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
</div>
<div class="row">
	<div class="form-group col-sm-1">
		<div class="checkbox">
			<label>
				<input type="checkbox" tabindex="1" 
					data-th-field="*{{medicalHistory.hasDiseases}}"
					placeholder="Doenças?"  />
				<strong>Doenças?</strong>
			</label>
		</div>
	</div>
	<div class="form-group col-sm-11">
		<label class="control-label">Quais?</label>
		<input id="diseases" type="text" class="form-control" tabindex="1" maxlength="14"
			data-th-field="*{{medicalHistory.diseases}}"
			placeholder="Quais?" />
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
</div>
<div class="row">
	<div class="form-group col-sm-1">
		<div class="checkbox">
			<label>
				<input type="checkbox" tabindex="1" 
					data-th-field="*{{medicalHistory.hasSurgeries}}"
					placeholder="Cirurgias?"  />
				<strong>Cirurgias?</strong>
			</label>
		</div>
	</div>
	<div class="form-group col-sm-11">
		<label class="control-label">Quais?</label>
		<input id="surgeries" type="text" class="form-control" tabindex="1" maxlength="14"
			data-th-field="*{{medicalHistory.surgeries}}"
			placeholder="Quais?" />
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
</div>
<div class="row">
	<div class="form-group col-sm-12">
		<h4>Antecedentes Familiares</h4>
	</div>
</div>
<div class="row">
	<div class="form-group col-sm-2">
		<div class="checkbox">
			<label>
				<input type="checkbox" tabindex="1" 
					data-th-field="*{{motherHistory.alive}}"/>
				<strong>Mãe está Viva?</strong>
			</label>
		</div>
	</div>
	<div class="form-group col-sm-1">
		<label class="control-label">Idade</label>
		<input id="motherAge" type="number" class="form-control" tabindex="1" maxlength="3" min="0" max="999"
			data-th-field="*{{motherHistory.age}}"
			placeholder="Idade" />
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
	<div class="form-group col-sm-4">
		<label class="control-label">Doenças</label>
		<input id="fatherDiseases" type="text" class="form-control" tabindex="1" maxlength="255"
			data-th-field="*{{motherHistory.diseases}}"
			placeholder="Doenças já diagnosticadas" />
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
	<div class="form-group col-sm-4">
		<label class="control-label">Medicamentos</label>
		<input type="text" class="form-control" tabindex="1" maxlength="255"
			data-th-field="*{{motherHistory.medicines}}"
			placeholder="Medicamentos em uso" />
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
</div>
<div class="row">
	<div class="form-group col-sm-2">
		<div class="checkbox">
			<label>
				<input type="checkbox" tabindex="1" 
					data-th-field="*{{fatherHistory.alive}}"/>
				<strong>Pai está vivo?</strong>
			</label>
		</div>
	</div>
	<div class="form-group col-sm-1">
		<label class="control-label">Idade</label>
		<input id="fatherAge" type="number" class="form-control" tabindex="1" maxlength="3" min="0" max="999"
			data-th-field="*{{fatherHistory.age}}"
			placeholder="Idade" />
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
	<div class="form-group col-sm-4">
		<label class="control-label">Doenças</label>
		<input id="fatherDiseases" type="text" class="form-control" tabindex="1" maxlength="255"
			data-th-field="*{{fatherHistory.diseases}}"
			placeholder="Doenças já diagnosticadas" />
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
	<div class="form-group col-sm-4	">
		<label class="control-label">Medicamentos</label>
		<input type="text" class="form-control" tabindex="1" maxlength="255"
			data-th-field="*{{fatherHistory.medicines}}"
			placeholder="Medicamentos em uso" />
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
</div>
<div class="row">
	<div class="form-group col-sm-12">
		<h4>Responsáveis</h4>
	</div>
</div>
<div class="row">
	<div class="form-group col-sm-8">
		<label class="control-label">Responsável 1</label>
		<input id="responsibleName1" type="text" class="form-control" tabindex="1" maxlength="255"
			data-th-field="*{{responsibleName1}}"
			placeholder="Responsável 1"  />
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
	<div class="form-group col-sm-2">
		<label class="control-label">Telefone Responsável 1</label>
		<input id="responsiblePhone1" type="text" class="form-control" tabindex="1" maxlength="15"
			data-th-field="*{{responsiblePhone1}}"
			placeholder="Telefone Responsável 1"  />
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
</div>
<div class="row">
	<div class="form-group col-sm-8">
		<label class="control-label">Responsável 2</label>
		<input id="responsibleName2" type="text" class="form-control" tabindex="1" maxlength="255"
			data-th-field="*{{responsibleName2}}"
			placeholder="Responsável 2"  />
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
	<div class="form-group col-sm-2">
		<label class="control-label">Telefone Responsável 2</label>
		<input id="responsiblePhone2" type="text" class="form-control" tabindex="1" maxlength="15"
			data-th-field="*{{responsiblePhone2}}"
			placeholder="Telefone Responsável 2"  />
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
</div>
<div class="row">
	<div class="form-group col-sm-12">
		<h4>Observações Gerais</h4>
	</div>
</div>
<div class="row">
	<div class="form-group col-sm-12">
		<textarea id="observation" class="form-control" tabindex="1" maxlength="2000"
			data-th-field="*{{observation}}"
			placeholder="Observações gerais sobre o paciente" />
		<div class="help-block">
			<span id="message"></span>
		</div>
	</div>
</div>
