logging:
  file: clinical.log
  level:
    org.springframework.web: ERROR
    org.springframework.web.client: ERROR
    org.springframework.jdbc: ERROR
    org.springframework.boot: ERROR
    org.springframework.security: ERROR
    br.com.ackta.clinical: INFO
  
spring:
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    serialization:
      indent-output: true
    default-property-inclusion: non-empty
  mvc:
    locale: pt_BR
  profiles:
    active: homolog
  jpa:
    show-sql: false
    generate-ddl: false
    hibernate:
      use-new-id-generator-mappings: false 
    
server:
  port: 8888
  
clinical:
  report:
    patientReportLayout: classpath:templates/report/patient.jrxml
    patientReportPath: pdfs/
---

spring:
  profiles: test
  datasource:
    url: jdbc:h2:mem:clinical-db;DB_CLOSE_ON_EXIT=FALSE;DATABASE_TO_UPPER=false
    username: sa
    password: 
    driverClassName: org.h2.Driver
  jpa: 
    database-platform: org.hibernate.dialect.H2Dialect    
    show-sql: true
    generate-ddl: true
    hibernate.ddl-auto: create
  
---

spring:
  profiles: development
  jpa: 
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: false
    generate-ddl: true
    hibernate.ddl-auto: update
  datasource:
    url: jdbc:h2:~/clinical;mode=MySQL;LOCK_MODE=1;FILE_LOCK=SOCKET;AUTO_RECONNECT=TRUE
    username: rmendonca
    password: 
    driver-class-name: org.h2.Driver
    tomcat:
      validation-query: select 1 
      max-active: 5
      min-idle: 1   
  
---

spring:
  profiles: homolog
  jpa: 
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: false
    generate-ddl: true
    hibernate.ddl-auto: update
  datasource:
    url: jdbc:h2:tcp://localhost/~/clinical;mode=MySQL;LOCK_MODE=1;FILE_LOCK=SOCKET;AUTO_RECONNECT=TRUE
    username: rmendonca
    password: 
    driver-class-name: org.h2.Driver
    tomcat:
      validation-query: select 1 
      max-active: 5
      min-idle: 1
     
---

spring:
  profiles: producao
  datasource:
    url: jdbc:mysql://server1.ackta.com.br:3306/sisconfe?useSSL=false
    username: sisconfe
    password: "#20131109"
    driver-class-name: com.mysql.jdbc.Driver
    tomcat:
      validation-query: select 1 
      max-active: 5
      min-idle: 1      
  
server:
  port: 9999
  
