<div id="nf" class="panel panel-default panel-view">
	<div class="panel-heading">Notas Fiscais</div>
	<div class="panel-body">
		<div>
			<p id="help-text">Seguem suas notas fiscais encontradas</p>
		</div>
		<hr />
		<div id="panel-content">
			<div class="row">
				<div class="col-sm-2">
					<form action="/" method="get">
						<button type="submit" class="btn btn-default">Voltar</button>
					</form>
				</div>
			</div>
			<div data-th-unless="${#lists.isEmpty(nfList.content)}" class="nfList">
				<form action="marcarNfe" enctype="application/x-www-form-urlencoded" novalidate="novalidate" method="post" >
					<table class="table table-striped table-text-center">
						<thead>
							<tr>
								<th>NF</th>
								<th>CNPJ</th>
								<th>Nome do Emitente</th>
								<th>Data Emissão</th>
								<th>Valor Total</th>
								<th>Boleto</th>
								<th>Proc</th>
								<th>Ação</th>
							</tr>
						</thead>
						<tbody>
							<tr data-th-each="nf,status : ${nfList.content}" data-th-id="${nf.nfe}">
								<td data-th-text="${{nf.nfe}}"></td>
								<td data-th-text="${{nf.cnpj}}"></td>
								<td data-th-text="${{nf.emitente}}"></td>
								<td data-th-text="${{nf.dataEmissao}}"></td>
								<td data-th-text="${{nf.total}}"></td>
								<td> 
									<input type="hidden" data-th-field="*{nfList.content[__${status.index}__].nfe}" data-th-value="${{nf.nfe}}" /> 
									<input type="checkbox" data-th-field="*{nfList.content[__${status.index}__].boleto}" data-th-value="${{nf.boleto}}" /> 
								</td>
								<td>
									<input type="checkbox" data-th-field="*{nfList.content[__${status.index}__].processado}" data-th-value="${{nf.dataProc}} != null" /> 
								</td>
								<td>
										<button type="button" class="btn btn-info" data-th-onclick="'onclickDetalhes(\'' + @{/detalhes/{id}(id = ${nf.nfe})} + '\')'">Detalhes</button>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="row">
						<div class="col-sm-12 text-center">
							<nav aria-label="Paginação...">
							  <ul class="pagination">
							    <li data-th-class="${!nfList.hasPrevious()} ? 'disabled'">
							    	<a data-th-if="${nfList.hasPrevious()}" data-th-href="@{__${path}__(page=${nfList.getNumber() - 1})}" aria-label="Anterior">
							    		<span aria-hidden="true">&laquo;</span>
							    	</a>
							    	<a data-th-if="${!nfList.hasPrevious()}" aria-label="Anterior">
							    		<span aria-hidden="true">&laquo;</span>
							    	</a>
							    </li>
							    <li data-th-class="disabled">
							    	<a href="#" data-th-text="${nfList.number + 1}"></a>
							    </li>
							    <li data-th-class="${!nfList.hasNext()} ? 'disabled'">
							    	<a data-th-if="${nfList.hasNext()}"  data-th-href="@{__${path}__(page=${nfList.getNumber() + 1})}" aria-label="Próximo">
							    		<span aria-hidden="true">&raquo;</span>
							    	</a>
							    	<a data-th-if="${!nfList.hasNext()}" aria-label="Próximo">
							    		<span aria-hidden="true">&raquo;</span>
							    	</a>
							    </li>
							  </ul>
							</nav>				
						</div>
					</div>
					<button type="submit" class="btn btn-info" data-th-if="${!#lists.isEmpty(nfList.content)}">
						Salvar
					</button>
				</form>
			</div>
			<div class="row" data-th-if="${#lists.isEmpty(nfList.content)}">
				<div class="col-sm-4">
					<span class="text-warning">Nenhuma nota fiscal foi encontrada.</span>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	function onclickDetalhes(url) {
		window.location.href = url;
	}
</script>