<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Controle Clínico</title>
		<base data-th-href="@{/}" />
		<link type="text/css" data-th-href="@{/webjars/bootstrap/3.3.6/dist/css/bootstrap.min.css}" rel="stylesheet" />
		<link type="text/css" data-th-href="@{/webjars/font-awesome/4.6.2/css/font-awesome.min.css}" rel="stylesheet" />
		<link type="text/css" data-th-href="@{/css/animate.min.css}" rel="stylesheet" />
		<link type="text/css" data-th-href="@{/css/style.css}" rel="stylesheet" />
		<script data-th-src="@{/js/jquery-3.1.1.js}"></script>
		<script data-th-src="@{/js/jquery.validate.min.js}"></script>
		<script data-th-src="@{/js/jquery.inputmask.min.js}"></script>
		<script data-th-src="@{/js/inputmask.min.js}"></script>
	</head>
	<body>
		<header id="header" class="navbar navbar-fixed-top navbar-inverse navbar-color">
			<div class="container-fluid">
				<nav>
					<div class="navbar-header">
						<button type="button" class="navbar-menu">
							<span class="fa fa-bars"></span>
						</button>
						<a role="button" class="navbar-brand">Controle Clínico</a>
					</div>
				</nav>
			</div>
		</header>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12 main">
					<div id="main-content" data-th-replace="~{${page}}">
						
					</div>
					<footer class="row">
						<div class="text-center">&copy; 2017 Ackta</div>
					</footer>
				</div>
			</div>
		</div>
	</body>
</html>
